{% extends "bootstrap/base.html" %}
{% block title %}This is an example page{% endblock %}

{% block navbar %}

<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Roommark</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>

          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li id="lors" type="button" data-toggle="modal" data-target="#myModal" ><a>Login or signup</a></li>
            <li id="lout" style="display:none" ><a>Logout</a></li>
            <li id="lusername" style="display:none" ><a>username</a></li>

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
{% endblock %}


{% block styles %}
{{super()}}
<style type="text/css">
  html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}

  #action-button {
    position: fixed;
  bottom:2%; right:2%;

  }
</style>


{% endblock %}

{% block scripts %}
{{super()}}
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQ08dgsEN6IsEzwUeT93NySj1zl_mX6HQ">
</script>

<script src="{{url_for('.static', filename='app.js')}}"></script>
{% endblock %}




{% block content %}
<div id="map-canvas"></div>

<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Login or create account</h4>
      </div>
      <div class="modal-body">
        <div id="modal-alert" style="display:hide"></div>

        <div class="row">
        <div class="col-md-6">
            <div class="form-login" id="form-login">
            <h4>Welcome back.</h4>
            <input type="text" id="userName" class="form-control input-sm chat-input" placeholder="username" />
            </br>
            <input type="password" id="userPassword" class="form-control input-sm chat-input" placeholder="password" />
            </br>
            <div class="wrapper">
            <span class="group-btn">
                <a href="#" id="btn-login" class="btn btn-primary btn-md">login <i class="fa fa-sign-in"></i></a>
            </span>
            </div>
            </div>

        </div>
        <div class="col-md-6">
            <div class="form-signup" id="form-signup">
            <h4>New user ?</h4>
            <input type="text" id="userName" class="form-control input-sm chat-input" placeholder="username" />
            </br>
            <input type="password" id="userPassword" class="form-control input-sm chat-input" placeholder="password" />
            </br>
            <div class="wrapper">
            <span class="group-btn">
                <a href="#" id="btn-signup" class="btn btn-primary btn-md">signup <i class="fa fa-sign-in"></i></a>
            </span>
            </div>
            </div>

        </div>
    </div>
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>

<div id="action-button" >

  <button style="display:none" id="add-marker" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add new rest room.</button>
  <button style="display:none" id="save-marker" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Save</button>
  <button style="display:none" id="cancel-marker" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Cancel</button>
</div>
{% endblock %}
